html, body {
    height: 100%;
}
body {
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}
th {
    text-align: left;
}
thead th {
    background-color: #55608f;
}
tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}
form label {
    font-size: 14px;
    color: darkgray;
    cursor: pointer;
}
form label, form input {
    float: left;
    clear: both;
}
form input {
    margin: 15px 0;
    padding: 15px 10px;
    width: 100%;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 20px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}
form input[type=text]:focus, form input[type="password"]:focus {
    border-color: cornflowerblue;
}
input[type=submit] {
    padding: 15px 50px;
    width: auto;
    background: #1abc9c;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    /* float: right; */
    clear: right;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}
input[type=submit]:hover {
    opacity: 0.8;
}
input[type="submit"]:active {
    opacity: 0.4;
}
.forgot, .register {
    margin: 10px;
    /* float: left; */
    clear: left;
    display: inline-block;
    color: cornflowerblue;
    text-decoration: none;
}
.forgot:hover, .register:hover {
    color: darkgray;
}